<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <title> schedule by HOV | v 0.8.72</title>
    <link rel='stylesheet' type='text/css' href='./css/rfid.css' />
    <script src='./js/jquery-3.2.1.min.js'></script>
    <script src='./js/aframe.min.js'></script>
    <script>
        var sessionManager = {
            scheduleContentsLoaded: false,
            status: -1,
            onPage: null,
            pages: ['schedule', 'grades', 'professors', 'clubs'],
            scheduleMenuVisible: false,
            eduMenuVisible: false,
            clubsMenuVisible: false
        };

        function requestFullScreen(element) { //    makes the application fullscreen on fullscreen equipped browsers
            var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen; // Supports most browsers and their versions.

            if (requestMethod) { // Native full screen.
                requestMethod.call(element);
            } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }
        }

        function initializeSession(data){
            sessionManager.scheduleContentsLoaded = true;
            sessionManager.status = 0;
            sessionManager.onPage = 'grades';
            
            setTimeout(function(){
                document.querySelector('#grades-button').emit('bounce-grades');
            }, 6000);
        }
        
        function gotDevices(deviceInfos) {
            var videoSelect = document.querySelector('select#videoSource');
            for (var i = 0; i !== deviceInfos.length; ++i) {
                var deviceInfo = deviceInfos[i];
                var option = document.createElement('option');
                option.value = deviceInfo.deviceId;

                if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' + (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                }
                else {
                    console.log('Found one other kind of source/device: ', deviceInfo);
                }
            }
        }

        function getStream() {
            var videoSelect = document.querySelector('select#videoSource');

            if (window.stream) {
                window.stream.getTracks().forEach(function(track) {
                    track.stop();
                });
            }

            var constraints = {
                video: {
                    deviceId: {exact: videoSelect.value}
                }
            };

            navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
        }
        
        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            video.srcObject = stream;
            //video.play();
        }

        function handleError(error) {
            console.log('Error: ', error);
        }
        
        $(document).ready(function(){
            initializeSession();

            // FIRST STAGE
            $('#launch-application-page').click(function(){

                console.log('application launch...');

                var elem = document.body;
                requestFullScreen(elem);

                $(this).animate({
                    height: 0
                }, 2500, function(){
                    $('.option-button').show().animate({
                        opacity: 1.0
                    }, 1000);
                    
                    $(this).hide();
                     var video = document.getElementById('video');
                    var videoSelect = document.querySelector('select#videoSource');
                    // Get access to the camera!
                    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                        // Not adding `{ audio: true }` since we only want video now
                        navigator.mediaDevices.enumerateDevices().then(gotDevices).then(getStream).catch(handleError);

                        videoSelect.onchange = getStream;
                    }
                });
            });
            
            $('#next-option-button').click(function(){
                if(sessionManager.status==0&&sessionManager.onPage=='grades'){
                    sessionManager.status=0;
                    //document.getElementById('grades-animation').setAttribute('repeat', '0');
                    document.querySelector(`#grades-button`).emit(`kill-grades`);
                    document.querySelector(`#grades-button`).emit(`deselect-grades`);
                }
                else{
                    if(sessionManager.status==sessionManager.pages.length-1){
                        sessionManager.status=0;
                      //  document.getElementById('clubs-animation').setAttribute('repeat', '0');
                        document.querySelector(`#clubs-button`).emit(`kill-clubs`);
                        document.querySelector(`#clubs-button`).emit(`deselect-clubs`);
                    }
                    else{
                        sessionManager.status++;
                    }
                }
                
                if(sessionManager.status>0){
                    var prev = sessionManager.pages[sessionManager.status-1];
                    //document.getElementById(`${prev}-animation`).setAttribute('repeat', '0');    
                    document.querySelector(`#${prev}-button`).emit(`kill-${prev}`);
                    document.querySelector(`#${prev}-button`).emit(`deselect-${prev}`);
                }

                var page = sessionManager.pages[sessionManager.status];
                sessionManager.onPage = page;
                //document.getElementById(`${page}-animation`).setAttribute('repeat', 'indefinite');

                document.querySelector(`#${page}-button`).emit(`select-${page}`);
                document.querySelector(`#${page}-button`).emit(`bounce-${page}`);
                console.log(`now on page ${page}`);
                
                if(sessionManager.photosInView&&page!='schedule'){
                    for(var i=0; i<sessionManager.nameOfPIVs.length; i++){
                        var photo = sessionManager.nameOfPIVs[i];
                        document.querySelector(photo).emit('hide-schedule-photo');
                    }
                }
                
                $('#left-content-panel').attr('visible', 'true');
                $('#left-content-panel').attr('material', 'color: white; side: double; transparent: true; opacity: 0.3;');
                
                $('#user-model').attr('visible', 'true');
                $('#center-call-icon').attr('visible', 'false');
                $('#right-content-panel').attr('visible', 'true');
                $('#right-content-panel').attr('material', 'color: white; side: double; transparent: true; opacity: 0.3;');
                
                switch(page){
                    case 'schedule':
                        document.querySelector('#schedule-photo').emit('show-schedule-photo');
                        sessionManager.photosInView = true;
                        sessionManager.nameOfPIVs = ['#schedule-photo'];
                        
                        $('#left-content-panel').attr('visible', 'false');
                        
                        $('#right-content-panel').attr('material', 'color: red; side: double; transparent: true; opacity: 0.3;');
                        $('#right-content-panel').attr('value','Founder, CEO @ House of Venus \n\nCollege edu, MD\n\nUniversity of Maryland\nB.S. Mathematics \'20\nSee Connections');
                        $('#schedule-ar-title').attr('value', 'Patrice-Morgan Ongoly');
                        $('#schedule-ar-title').attr('material','color: red; side: double; transparent: true; opacity: 0.5;');
                        break;
                    case 'grades':
                        $('#user-model').attr('visible', 'false');
                        $('#right-content-panel').attr('visible','false');
                        $('#schedule-ar-title').attr('value', 'EXPLORE');
                        
                        $('#left-content-panel').attr('value','select\n a\n location');
                        document.querySelector('#left-content-panel').setAttribute('geometry', 'primitive: plane; width: 3; height: 3;');
                        $('#left-content-panel').attr('material', 'color: black; side: double; transparent: true; opacity: 0.3;');
                        
                        $('#schedule-ar-title').attr('material','color: black; side: double; transparent: true; opacity: 0.5;');
                        break;
                    case 'professors':
                        $('#user-model').attr('visible', 'false');
                        $('#right-content-panel').attr('visible','false');
                        $('#schedule-ar-title').attr('value', 'professors');
                       
                        $('#left-content-panel').attr('value','professor name');
                        document.querySelector('#left-content-panel').setAttribute('geometry', 'primitive: plane; width: 3; height: 3;');
                        $('#left-content-panel').attr('material', 'color: yellow; side: double; transparent: true; opacity: 0.3;');
                        
                        $('#schedule-ar-title').attr('material','color: yellow; side: double; transparent: true; opacity: 0.5;');
                        break;
                    case 'clubs':
                        $('#user-model').attr('visible', 'false');
                        
                        $('#left-content-panel').attr('visible', 'false');
                        $('#right-content-panel').attr('visible', 'false');
                        
                        sessionManager.clubsMenuVisible = true;
                        
                        $('#schedule-ar-title').attr('value', 'clubs');
                        $('#schedule-ar-title').attr('material','color: violet; side: double; transparent: true; opacity: 0.5;');
                        break;
                    default:
                        break;
                }
            });
            
            $('#prev-option-button').click(function(){
                if(sessionManager.status==0&&sessionManager.onPage=='grades'){
                    sessionManager.status=sessionManager.pages.length-1;
                    document.querySelector(`#schedule-button`).emit(`kill-schedule`);
                    document.querySelector(`#schedule-button`).emit(`deselect-schedule`);
                }
                else{
                    if(sessionManager.status==0){
                        sessionManager.status=sessionManager.pages.length-1;
                        document.querySelector(`#schedule-button`).emit(`kill-schedule`);
                        document.querySelector(`#schedule-button`).emit(`deselect-schedule`);
                    }
                    else{
                        sessionManager.status--;
                    }
                }
                
                if(sessionManager.status<sessionManager.pages.length-1){
                    var prev = sessionManager.pages[sessionManager.status+1];
                    document.querySelector(`#${prev}-button`).emit(`kill-${prev}`);
                    document.querySelector(`#${prev}-button`).emit(`deselect-${prev}`);
                }

                var page = sessionManager.pages[sessionManager.status];
                sessionManager.onPage = page;
                
                document.querySelector(`#${page}-button`).emit(`select-${page}`);
                document.querySelector(`#${page}-button`).emit(`bounce-${page}`);
                console.log(`now on page ${page}`);
                
                if(sessionManager.photosInView&&page!='schedule'){
                    for(var i=0; i<sessionManager.nameOfPIVs.length; i++){
                        var photo = sessionManager.nameOfPIVs[i];
                        document.querySelector(photo).emit('hide-schedule-photo');
                    }
                }
                
                $('#left-content-panel').attr('visible', 'true');
                $('#left-content-panel').attr('material', 'color: white; side: double; transparent: true; opacity: 0.3;');
                
                $('#right-content-panel').attr('visible', 'true');
                $('#right-content-panel').attr('material', 'color: white; side: double; transparent: true; opacity: 0.3;');
                
                $('#user-model').attr('visible', 'true');
                $('#center-call-icon').attr('visible', 'false');
                
                switch(page){
                    case 'schedule':
                        $('#left-content-panel').attr('visible', 'false');
                        
                        document.querySelector('#schedule-photo').emit('show-schedule-photo');
                        sessionManager.photosInView = true;
                        sessionManager.nameOfPIVs = ['#schedule-photo'];
                        
                        $('#right-content-panel').attr('align', 'center');
                        
                        $('#right-content-panel').attr('value','Founder, CEO @ House of Venus \n\nCollege edu, MD\n\nUniversity of Maryland\nB.S. Mathematics \'20\nSee Connections');
                        $('#right-content-panel').attr('material', 'color: red; side: double; transparent: true; opacity: 0.3;');
                        
                        $('#schedule-ar-title').attr('value', 'Patrice-Morgan Ongoly');
                        $('#schedule-ar-title').attr('material','color: red; side: double; transparent: true; opacity: 0.5;');
                        break;
                    case 'grades':
                        $('#user-model').attr('visible', 'false');
                        $('#right-content-panel').attr('visible','false');
                        $('#schedule-ar-title').attr('value', 'grades');
                       
                        $('#left-content-panel').attr('value','select\n a\n location');
                        document.querySelector('#left-content-panel').setAttribute('geometry', 'primitive: plane; width: 3; height: 3;');
                        $('#left-content-panel').attr('material', 'color: black; side: double; transparent: true; opacity: 0.3;');
                        
                        $('#schedule-ar-title').attr('material','color: black; side: double; transparent: true; opacity: 0.5;');
                        break;
                    case 'professors':
                        $('#user-model').attr('visible', 'false');
                        $('#right-content-panel').attr('visible','false');
                        $('#schedule-ar-title').attr('value', 'professors');
                       
                        $('#left-content-panel').attr('value','professor name');
                        document.querySelector('#left-content-panel').setAttribute('geometry', 'primitive: plane; width: 3; height: 3;');
                        $('#left-content-panel').attr('material', 'color: yellow; side: double; transparent: true; opacity: 0.3;');
                        
                        $('#schedule-ar-title').attr('material','color: yellow; side: double; transparent: true; opacity: 0.5;');
                        break;
                    case 'clubs':
                        $('#user-model').attr('visible', 'false');
                        $('#left-content-panel').attr('visible', 'false');
                        $('#right-content-panel').attr('visible', 'false');
                        $('#schedule-ar-title').attr('value', 'clubs');
                       
                        sessionManager.clubsMenuVisible = true;
                        $('#schedule-ar-title').attr('material','color: violet; side: double; transparent: true; opacity: 0.5;');
                        break;
                    default:
                        break;
                }
            });
            
            $('#select-option-button').click(function(){
                var page = sessionManager.pages[sessionManager.status] || 'grades';
                console.log(`selected page ${page}`);
                switch(page){
                    case 'schedule':
                      //  window.location.href = 'https://www.schedule.com/in/patrice-morgan-ongoly-1a206b74/'
                        break; 
                    case 'grades':
                    //    window.location.href = 'http://houseofven.us/edu'
                        break;
                    case 'clubs':
                      //  window.location.href = 'https://www.clubs.com/houseofven.us'
                        break;
                    default:
                        break;
                }
            });
            
        });
    </script>
</head>
<body>
    <div id='launch-application-page' class='entry-layer overlay'>
        <div id='instructions'>
            tap anywhere
            <div id='logo'></div>
            to view schedule
        </div>
    </div>
    <!-- FOR PRODUCTION PURPOSES ONLY-->
    <select id='videoSource'></select>
    <input id='select-option-button' class='option-button' type='button' value='o' />
    <input id='prev-option-button' class='option-button' type='button' value='<' />
    <input id='next-option-button' class='option-button' type='button' value='>' />
    
    <video id="video" autoplay></video>
    <div id='main-app-container' class='viewer-layer'>
        <a-scene embedded id='rfid-experience-container'>
            <a-assets>
                <a-asset-item id='mj-model' src='./media/model/marijuanna.obj'></a-asset-item>
                <img id='floor-texture' src='./media/texture/grid_pattern.png' preload='true' />
                <img id='earth-texture' src='./media/texture/earthmap1k.jpg' preload='true' />
                
                <img id='earth-texture' src='./media/texture/earthmap1k.jpg' preload='true' />
                <img id='schedule-texture' src='./media/texture/linkedin-texture.png'/>
                <img id='grades-texture' src='./media/texture/globe-texture.png'/>
                <img id='professors-texture' src='./media/texture/visuals-texture.png'/>
                <img id='clubs-texture' src='./media/texture/exposition-texture.png'/>
                <img id='schedule-photo-texture' src='./media/texture/cARd.png' />
            </a-assets>
            
            
            
            <a-text value='13:45' position='0 6.5 -4' align='center' material='color: white;' width='12'></a-text><!-- font='monoid' -->
            <a-text id='schedule-ar-title' geometry='primitive: plane; width: 11; height: 2;' value='Patrice-Morgan Ongoly' position='0 8 -4' align='center' material='color: white; side: double; transparent: true; opacity: 0;' color='white' width='20'></a-text><!-- font='monoid' -->
    
            <a-obj-model id='user-model' src='#mj-model' position='0 2.5 -4' scale='0.1 0.1 0.1' rotation='0 90 0' visible='true'></a-obj-model>
            
            <a-entity id='center-call-icon' geometry='primitive: circle; radius: 2;' position='0 2.5 -4' material='src: #call-texture;' visible='false'></a-entity>
            
            <a-entity id='center-media-icon' geometry='primitive: plane; width: 4; height: 3;' position='0 2.5 -4' material='src: #media-texture;' visible='false'></a-entity>

            
            <a-sphere id='schedule-button' material='src: #schedule-texture;' position="-4.5 0 -4" rotation='0 -45 0' radius="0.75">
                <a-animation attribute='radius' easing='ease-out' delay='5000' dur='2000' from='0.75' to='0.5' ></a-animation>
                
                <a-animation id='schedule-highlight' attribute='radius' easing='ease-out' dur='1000' from='0.5' to='1' begin='select-schedule'></a-animation>
                
                <a-animation id='schedule-shrink' attribute='radius' easing='ease-out' dur='1000' from='1' to='0.5' begin='deselect-schedule'></a-animation>
                
                <a-animation id='schedule-animation' attribute='position' begin='bounce-schedule' end='kill-schedule' dur='1000' direction='alternate' from='-4.5 0 -4' to='-4.5 0.5 -4' repeat='indefinite' ></a-animation>
            </a-sphere>
            <a-text value='schedule' position='-6 0 -3' align='center' material='color: white;' width='10'></a-text><!-- font='monoid' -->
            
            <a-sphere id='grades-button' material='src: #grades-texture; color: white;' position="-1.5 0 -2" rotation='0 -90 0' radius="0.75">
                <a-animation attribute='radius' easing='ease-out' delay='5000' dur='2000' from='0.75' to='1.0' ></a-animation>
                
                <a-animation id='grades-highlight' attribute='radius' easing='ease-out' dur='1000' from='0.5' to='1' begin='select-grades'></a-animation>
                
                <a-animation id='grades-shrink' attribute='radius' easing='ease-out' dur='1000' from='1' to='0.5' begin='deselect-grades'></a-animation>
                
                <a-animation id='grades-animation' attribute='position' begin='bounce-grades' end='kill-grades' dur='1000' direction='alternate' from='-1.5 0 -2' to='-1.5 0.5 -2' repeat='indefinite' ></a-animation>
            </a-sphere>
            <a-text id='center-button-label' value='grades' position='-1.5 0 -1' align='center' material='color: white;' width='10'></a-text><!-- font='monoid' -->
            
            <a-sphere id='professors-button' material='src: #professors-texture; color: white;' position="1.5 0 -2" rotation='0 -90 0' radius="0.75">                
                <a-animation id='professors-highlight' attribute='radius' easing='ease-out' dur='1000' from='0.5' to='1' begin='select-professors'></a-animation>
                
                <a-animation id='professors-shrink' attribute='radius' easing='ease-out' dur='1000' from='1' to='0.5' begin='deselect-professors'></a-animation>
                
                <a-animation id='professors-animation' attribute='position' begin='bounce-professors' end='kill-professors' dur='1000' direction='alternate' from='1.5 0 -2' to='1.5 0.5 -2' repeat='indefinite' ></a-animation>
            </a-sphere>
            <a-text value='professors' position='1.5 0 -1' align='center' material='color: white;' width='10'></a-text><!-- font='monoid' -->
            
            <a-sphere id='clubs-button' material='src: #clubs-texture;' position="4.5 0 -4" rotation='0 -90 0' radius="0.75">
                <a-animation attribute='radius' easing='ease-out' delay='5000' dur='2000' from='0.75' to='0.5' ></a-animation>
                
                <a-animation id='clubs-highlight' attribute='radius' easing='ease-out' dur='1000' from='0.5' to='1' begin='select-clubs'></a-animation>
                
                <a-animation id='clubs-shrink' attribute='radius' easing='ease-out' dur='1000' from='1' to='0.5' begin='deselect-clubs'></a-animation>
                
                <a-animation id='clubs-animation' attribute='position' begin='bounce-clubs' end='kill-clubs' dur='1000' direction='alternate' from='4.5 0 -4' to='4.5 0.5 -4' repeat='indefinite' ></a-animation>
            </a-sphere>
            <a-text value='clubs' position='4.5 0 -3' align='center' material='color: white;' width='10'></a-text><!-- font='monoid' -->
            
            <a-entity id='schedule-photo' geometry='primitive: circle; radius: 2;' position='-6 4 -3' rotation='0 5 0' visible='false' material='src: #schedule-photo-texture'>
                <a-animation attribute='visible' to='true' dur='1000' begin='show-schedule-photo'></a-animation>
                <a-animation attribute='visible' to='false' dur='1000' begin='hide-schedule-photo'></a-animation>
            </a-entity>           
            
            <a-text id='left-content-panel' geometry='primitive: plane; width: 5; height: 5;' position='-6 4 -3' rotation='0 35 0' value='House of Venus \n\n schedule  \n\n version 0.8.67' width='9' align='center' color='white' visible='true' material='color: white; side: double; transparent: true; opacity: 0.3;'></a-text><!-- font='monoid' -->
            
            <a-text id='right-content-panel' geometry='primitive: plane; width: 8; height: 6;' position='6 4 -4' rotation='0 -35 0' value='CEO, Chairman \n\n House of Venus, BC \n\n UMD 2020 Mathematics \n\n @ dmv | @ paris' width='9' align='center' color='white'  material='color: white; side: double; transparent: true; opacity: 0.3;'></a-text> <!-- font='monoid' -->

            <a-entity position="0 3 6">            
                <a-entity camera="active: true" look-controls wasd-controls></a-entity>
            </a-entity>
            <a-sky material='transparent: true; opacity: 0; color: white;'>
            </a-sky>
        </a-scene>
    </div>
</body>
</html>